*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    outline: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.form{
    width: 500px;
    height: fit-content;
    background-color: #fff;
    box-shadow: #0002 0 0 10px 1px;
    padding: 50px 30px;
    position: relative;
}
.form .btn{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
}
.form .details{
    width: 100%;
}
label{
    display: block;
    text-transform: capitalize;
    color: black;
    width: fit-content;
}
label.star::after{
    content: ' *';
    color: red;
}

input{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #111;
    padding-left: 10px ;
    transition: border-right 0.3s;
}
input::placeholder{
    color: #555;
    text-transform: capitalize;
}

.form .details .top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.form .details .field{
    width: 49%;
    padding-bottom: 10px;
}
.form .details .bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.form .details .bottom .left{
    width: 49%;
}
.form .details .bottom .left .field{
    width: 100%;
}
.form .details .bottom .right{
    width: 49%;
}
.form .details .bottom .right .field textarea{
    width: 100%;
    height: 88px;
    resize: none;
    background-color: #fff;
    border: 1px solid #111;
    padding: 10px 0 0 10px;
    transition: border-left 0.3s;

}

.form .details .bottom .right .field{
    width: 100%;
}
.reg{
    width: 100%;
    height: 40px;
}
.reg button{
    width: 100%;
    height: 100%;
    background-color: #03c56a;
    border: none;
    color: white;
    cursor: pointer;
}
@media (max-width: 510px) {
    .form{
        width: 90%;
    }
    input{
        font-size: 12px;
    }
}
@media (max-width:470px) {
    .form .top{
        flex-direction: column;
    }
    .form .top .field{
        width: 100%;
    }
}
@media (max-width:400px) {
    .form .bottom{
        flex-direction: column;
    }
    .form .bottom .field{
        width: 100%;
    }

    .form .details .bottom .left{
        width: 100%;
    }
    .form .details .bottom .right{
        width: 100%;
    }
    /* .form .bottom .right .field,.form .bottom .left input{
        width: 100%;
    } */
    
}
.dark{
    background: #1f1f1f;
}
.dark .form{
    background: #000;
    box-shadow: #fff2 0 0 10px 1px;
}
.dark .form .btn{
    color: black;
    background-color: #fff;
}
.dark .form label{
    color: white;
}
.dark .form input{
    border-color: white ;
    background-color: #000;
    color: white;
}
.dark .form .bottom .right .field textarea{
    border-color: white ;
    background-color: #000;
    color: white;
}
.dark .form input::placeholder{
    color: #fff5;
}

.form .details input:focus{
    border-right: #3a6cf4 5px solid ;
    
}
.form .details .bottom .right .field textarea:focus{
    /* background-color: white; */
    border-left: #3a6cf4 5px solid ;

}
